<div class="nav">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
	<h1 class="title"><a href="/home">Pizza is always a good idea!</a></h1>
	<h3>
		      <div class="nav-item">
				<a href="/">Home</a>
				{{!-- <a href="'/order">Order</a> --}}
				<a href="/list">Summary</a>
				{{!-- <a href="/summary">Order Details</a> --}}
			</div>
	</h3>
</div>
