<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"/>
		<link rel="stylesheet" href="/../public/main.css" />
		<title>Handmade Pizza</title>
	</head>

	<body>
		<div class="pizza-container" >		
			<img id="pizza-bg" alt="">	
			{{#each result}}

				<div class="pizza-list">
					<a href="/{{id}}/order">
						<img class="img-pizza" src="{{img}}" alt="{{name}}">
						<button>Add</button>
					</a>
				</div>
			{{/each}}
		</div>
		<div>
		<button>Place Order</button>
	</div>
	</body>

</html>